<!doctype html>
<html>
  <head>
    <title>MOBILE / CLOUD</title>

    <link href="/stylesheets/style.css" rel="stylesheet">

  </head>
  <body class="live">
    <div id="content">
        <h2>LIVE!</h2>
        <canvas id="analyserHTMLcanvasLive" width="1024" height="400"></canvas
        ><div id="output">OUTPUT HERE</div>
    </div>

  </body>


  <script src="/socket.io-client/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.14/peer.js"></script>
  <script src="/javascripts/libs/Utils.js"></script>
  <script src="/javascripts/libs/Drawer.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.14/peer.js"></script>
  <script src="/javascripts/cloud.js"></script>

</html>
